body{
    background: url('../images/5137810.png ') no-repeat;
    background-size: cover;
}
.card {
    border-radius: 10px;
}

.card-title {
    font-weight: 600;
}

.card-body p {
    margin-bottom: 5px;
}
